.hello {
    color: red;
}
.why{
    color: blue;
}

/* .card body {
    padding-bottom: 6%;
}
.body{
    text-align: center;
    font-size: 14px;
    color: gray;
}
.body h6{
    font-style: italic;
    font-size: 13px;
}
.body h3{
    font-size: 16px;
    padding-top: 5%;
    font-weight: 30%;
} */